# 24K Tracker - Environment Configuration
# DO NOT commit this file

TRACKER_DB_HOST=localhost
TRACKER_DB_NAME=rs24k_tracker
TRACKER_DB_USER=rs24k_tracker_user
TRACKER_DB_PASS=t,Nv?=4!m~l5aU;MF5

TRACKER_DB_CHARSET=utf8mb4